@import url(http://fonts.googleapis.com/css?family=Lato);

html {
    min-height: 100%;
    background: #45484d; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #45484d 0%,#000000 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #45484d 0%,#000000 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #45484d 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body {
    font-family: 'Lato', sans-serif;
}

.wrapper{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: transparent url('../images/body_back.png') no-repeat right bottom;
    display: table-cell;
}

.content {
    margin-left: 15%;
    margin-top: 15%;
    color: #eeeeee;
    width: 45%;
}

a {
    color: #eaeaea;
    font-weight: bold;
}